# Set the default behavior for all files.
#* text=auto

# Normalized and converts to native line endings on checkout.
#*.md text
#*.json text
#GNUmakefile text
#makefile text
#Makefile text
#*.mk text
#*.c text
#*.h text

# Convert to CRLF line endings on checkout.
*.ps1 text eol=crlf

# Convert to LF line endings on checkout.
*.sh text eol=lf
*.config text eol=lf

# Binary files.
*.pdf binary
